<div class="container list">
  <div class="list">
    <h1>
      Result:
      <span [ngStyle]="{ color: chance > 0.5 ? 'green' : 'red' }">
        {{ chance | percent: ".0-2" }}
      </span>
    </h1>

    <button (click)="calculcateChance()" mat-raised-button color="primary">
      Calculate
    </button>
  </div>

  <div class="list">
    <div class="list">
      <h2>My values</h2>

      <div>Current values: {{ config.knownValues.join(", ") || "none" }}</div>

      <mat-form-field style="padding: 0">
        <mat-label>Values</mat-label>
        <input matInput (change)="parseKnownValues($event)" />
      </mat-form-field>
    </div>

    <div class="list">
      <h2>Bet</h2>

      <app-counter label="count" [(value)]="config.bet.count"></app-counter>
      <app-counter label="value" [(value)]="config.bet.value"></app-counter>
    </div>

    <div class="list">
      <h2>Config</h2>

      <app-counter label="Multicube" [(value)]="config.multicube"></app-counter>
      <app-counter label="Count" [(value)]="config.count"></app-counter>
      <app-counter label="Faces" [(value)]="config.faces"></app-counter>
    </div>
  </div>
</div>
