.container {
  max-width: 1024px;
  margin: auto;
  margin-top: 16px;

  @media only screen and (max-width: 1024px) {
    margin: 16px 8px;
  }
}

.list {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 8px;
  }
}
