.container {
  width: 98vw;
  max-width: 1024px;
  margin: auto;
  margin-top: 16px;
}

.list {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.row {
  display: flex;

  & > * {
    flex: 1;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
